@font-face {
    font-family: "Bion";
    src: url("../../fonts/Bion-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bion-bold";
    src: url("../../fonts/Bion-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

h1{
    font-family: 'Bion-bold', sans-serif;
  }