

@use 'base/variables' as *;
@use 'base/typography';
@use 'base/base';

@use 'components/_buttons.scss';
@use 'components/anim01';
@use 'components/anim02';

@use 'layouts/_header.scss';
@use 'layouts/_footer.scss';

@use 'pages/_home.scss';

@font-face {
    font-family: "Bion";
    src: url("./fonts/Bion-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bion-bold";
    src: url("./fonts/Bion-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}